.vs/Baldr/v15/.suo
Baldr/bin
Baldr/obj
Core/Core.Tests/bin
Core/Core.Tests/obj
Core/Core/bin
Core/Core/obj
Baldr.IntegrationTests/bin
Baldr.IntegrationTests/obj
Baldr/Baldr.csproj.user
Baldr/Properties/PublishProfiles/FolderProfile.pubxml.user
Baldr/Logs/*
Baldr/Baldr.Tests/bin/*
Baldr/Baldr.Tests/obj/*
Baldr/Baldr/bin/*
Baldr/Baldr/obj/*
Baldr/Baldr.Web.Tests/bin/*
Baldr/Baldr.Web.Tests/node_modules/*
Baldr/Baldr.Web.Tests/obj/*
