.vs/Baldr/v15/.suo
Baldr/bin
Baldr/obj
Core/Core.Tests/bin
Core/Core.Tests/obj
Core/Core/bin
Core/Core/obj
Baldr.IntegrationTests/bin
Baldr.IntegrationTests/obj
Baldr/Baldr.csproj.user
Baldr/Properties/PublishProfiles/FolderProfile.pubxml.user
Baldr/Logs/*
