<!-- Do NOT modify the Index.cshtml file. Modify the Index_Template.cshtml, if you need to make changes. 
    Webpack will generate the Index.cshtml based on the Index_Template.cshtml file.-->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root>Loading...</app-root>
</body>
    <!-- Webpack injects scripts here -->
</html>